/* Custom scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #c1c1c1;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #a8a8a8;
}

/* Thumbnail Styles */
.thumbnail.active {
    border-color: #0056b3;
}

.thumbnail {
    opacity: 0.7;
    transition: all 0.3s;
}

.thumbnail:hover,
.thumbnail.active {
    opacity: 1;
}